.profileItem {
  padding: 2% 4%;
  border-bottom: 1px solid rgb(83, 150, 177);
  width: 96%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.profileimg {
  margin-right: 5px;
}
.addGrp {
  max-height: 40vh;
  overflow-y: scroll;
}
.addGrp::-webkit-scrollbar {
  display: none;
}
.chatListInfo {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 1%;
  font-weight: 700;
  color: rgb(13, 122, 159);
  font-size: small;
}
